---
import Document from "../layouts/Document.astro";
---

<Document title="앗...! 없는 페이지에요. - powerjade">
  <div class="flex h-screen flex-col items-center justify-center text-center">
    <div class="space-y-8">
      <h1 class="text-7xl font-extrabold">앗...!</h1>
      <p class="text-balance break-words break-keep text-xl">
        페이지가 없어요. 🙏 다시 돌아가서 탐색하세요.
      </p>
    </div>
    <a
      href="/"
      class="mt-14 block underline decoration-wavy underline-offset-8"
    >
      홈으로 가기 👈</a
    >
  </div>
</Document>
