---
export const prerender = true;

import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { formatDate } from "../lib/dateUtils";

const allPosts = await getCollection("posts", (entry) => {
  return import.meta.env.PROD ? entry.data.draft !== true : true;
});
---

<Layout title="powerjade">
  <ul class="space-y-4">
    {
      allPosts.map((post) => (
        <li>
          <a href={`/post/${post.slug}`} class="group inline-flex flex-col">
            <span class="group-hover:underline">{post.data.title}</span>
            <time
              class="text-xs text-zinc-500"
              datetime={post.data.publishedDate.toISOString()}
            >
              {formatDate(post.data.publishedDate)}
            </time>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
