---
export const prerender = true;

import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const allPosts = await getCollection("posts", (entry) => {
  return import.meta.env.PROD ? entry.data.draft !== true : true;
});
---

<Layout title="powerjade">
  <ul>
    {
      allPosts.map((blogPostEntry) => (
        <li>
          <a href={`/post/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
          <time datetime={blogPostEntry.data.publishedDate.toISOString()}>
            {blogPostEntry.data.publishedDate.toDateString()}
          </time>
        </li>
      ))
    }
  </ul>
</Layout>
