---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="p-4">
    <h1 class="rounded bg-blue-500 px-4 py-2 text-base font-bold text-white">
      Hello?
    </h1>
  </main>
</Layout>
